Source: ncurses-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.0), bzip2, gcc,
 gcc-m68k-atari-mint
Homepage: ftp://invisible-island.net/ncurses/

Package: ncurses-m68k-atari-mint
Section: devel
Architecture: all
Priority: optional
Description: ncurses for Atari MiNT.
 A library for making fullscreen textmode programs.
