Source: mintlib-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.0), make, bash, gcc-m68k-atari-mint,
 gcc, bison, flex, libfl-dev

Package: mintlib-m68k-atari-mint
Provides: libc-m68k-atari-mint
Section: devel
Architecture: any
Priority: optional
Description: MiNTLib, the Atari MiNT standard library.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
