Source: gcc-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 10), g++, texinfo,
 libgmp-dev, libmpfr-dev, libmpc-dev (>= 0.8),
 binutils-m68k-atari-mint,
 mintlib-m68k-atari-mint (>= 0.60.1.Git-20200504) | libc-m68k-atari-mint,
 pml-m68k-atari-mintelf | libm-m68k-atari-mint
Homepage: http://gcc.gnu.org/

Package: gcc-m68k-atari-mint
Section: devel
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, binutils-m68k-atari-mint,
 mintlib-m68k-atari-mint (>= 0.60.1.Git-20200504) | libc-m68k-atari-mint,
 pml-m68k-atari-mintelf | libm-m68k-atari-mint
Recommends: mintbin-m68k-atari-mint
Description: GCC cross-compiler for building Atari MiNT executables.
 This is the GNU Compiler Collection configured to cross-build Atari MiNT
 executables. This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
