#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_BUILD_GNU_TYPE      := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE       := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

tarball := $(wildcard gcc-*.tar.bz2)
patch   := $(wildcard gcc-*.patch.bz2)

srcdir  := $(shell echo $(tarball) | sed -e 's/\.tar\.bz2//')

# FIXME: one-char vars are evil, even more than emacs.
D := $(CURDIR)/debian/gcc-m68k-atari-mint

unpack: unpack-stamp
unpack-stamp:
	dh_testdir

	tar jxf $(tarball)
	mkdir build

	touch unpack-stamp

patch: patch-stamp
patch-stamp: unpack-stamp
	dh_testdir

	cd $(srcdir) && \
		bzcat ../$(patch) | patch -p1 && \
		cat ../texinfo.patch | patch -p1

	touch patch-stamp

configure: configure-stamp
configure-stamp: patch-stamp
	dh_testdir

	cd build && \
	../$(srcdir)/configure --prefix=/usr \
			--infodir=/usr/share/info \
			--mandir=/usr/share/man \
			--build=$(DEB_BUILD_GNU_TYPE) \
			--host=$(DEB_HOST_GNU_TYPE) \
			--target=m68k-atari-mint \
			--disable-nls \
			--enable-languages="c,c++" \
			--disable-libstdcxx-pch \
			CFLAGS_FOR_TARGET="-O2 -fomit-frame-pointer" \
			CXXFLAGS_FOR_TARGET="-O2 -fomit-frame-pointer"

	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	cd build && \
		$(MAKE)

	# Dirty hack to fix the PATH_MAX issue.
	# The good solution would be to configure gcc using --with-headers
	cd build && \
		cat ../$(srcdir)/gcc/limitx.h ../$(srcdir)/gcc/glimits.h ../$(srcdir)/gcc/limity.h >gcc/include-fixed/limits.h

	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/gcc-m68k-atari-mint
	cd build && \
		$(MAKE) install DESTDIR=$(D)

	# Files also in main gcc pkg
	rm -r $(D)/usr/include
	rm    $(D)/usr/lib/*.a
	rm -r $(D)/usr/share/info
	rm -r $(D)/usr/share/man/man7
	find  $(D)/usr/m68k-atari-mint/lib -name '*.a' -print -exec m68k-atari-mint-strip -S -x '{}' ';'
	find  $(D)/usr/lib/gcc/m68k-atari-mint/* -name '*.a' -print -exec m68k-atari-mint-strip -S -x '{}' ';'

clean:
	dh_testdir
	dh_testroot
	rm -rf build $(srcdir)
	rm -f build-stamp configure-stamp patch-stamp unpack-stamp

	dh_clean

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip -X .a
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
