Source: pml-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 10), make,
 gcc-m68k-atari-mint, libc-m68k-atari-mint
Build-Conflicts: mintlib-m68k-atari-mint (< 0.60.1.Git-20200504)
Homepage: http://www.umich.edu/~archive/atari/Gnustuff/Tos/Pmathlib/

Package: pml-m68k-atari-mint
Provides: libm-m68k-atari-mint
Section: devel
Architecture: all
Priority: optional
Depends: libc-m68k-atari-mint
Conflicts: mintlib-m68k-atari-mint (< 0.60.1.Git-20200504)
Description: PML, the Portable Math Library for Atari MiNT.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
