Source: pml-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5.0.0), make,
 gcc-m68k-atari-mint, mintlib-m68k-atari-mint (>= 0.60.1.Git-20200504)
Homepage: ftp://ftp.funet.fi/pub/atari/programming/

Package: pml-m68k-atari-mint
Provides: libm-m68k-atari-mint
Section: devel
Architecture: all
Priority: optional
Depends: libc-m68k-atari-mint
Description: PML, the Portable Math Library for Atari MiNT.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
