Source: zlib-m68k-atari-mint
Section: devel
Priority: extra
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: make, gcc-m68k-atari-mint, binutils-m68k-atari-mint, mintlib-m68k-atari-mint
XS-DM-Upload-Allowed: yes

Package: zlib-m68k-atari-mint
Section: devel
Architecture: any
Depends: mintlib-m68k-atari-mint
Priority: extra
Description: A compression library implementing the Deflate algorithm, used by gzip and PKZIP, for Atari MiNT.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
