Source: cflib-m68k-atari-mint
Section: devel
Priority: optional
Maintainer: Vincent Riviere <vincent.riviere@freesbee.fr>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 10), make,
  gcc-m68k-atari-mint,
  gemlib-m68k-atari-mint (>= 0.4.2)

Package: cflib-m68k-atari-mint
Section: devel
Architecture: all
Priority: optional
Depends: gemlib-m68k-atari-mint (>= 0.4.2)
Description: Christian Felsch's GEM utility library for Atari MiNT.
 This package is primarily for Atari MiNT developers and is
 not needed by normal users or developers.
